body{
				background-color:yellow;
			}
			#header{
			position:absolute;
			top:0px;
			width:784px;
			height:80px;
			background-color:gray;
			}
			#top_navigation{
			position:absolute;
			top:80px;
			width:784px;
			height:23px;
			background:blue;
			}
			#left_sidebar{
			position:absolute;
			top:103px;
			width:220px;
			height:105px;
			background:red;
			}
			#main_content{
			position:absolute;
			top:103px;
			left:228px;
			width:344px;
			height:105px;
			background:green;
			}
			#right_sidebar{
			position:absolute;
			top:103px;
			left:572px;
			width:220px;
			height:105px;
			background:red;
			}
			#footer{
			position:absolute;
			top:208px;
			width:784px;
			height:60px;
			background:blue;
			}